body{
    background-color: #0096c7;
}
.btn-primary{
    background-color:#023e8a;
}
.btn-primary:hover{
    background-color:#0077b6;
}
.btn-primary:active{
    background-color: #BDBDBD;
}
#restart_button{
    margin-top: 2em;
    margin-bottom: 2em;
}
#my_canvas{
    margin-top: 2em;
}